.container {
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
}

.fld_text {
  color: #d800a6;
  margin-left: 5vw;
  margin-top: 0vh;
  font-size: 6vh;
}

.icon {
  height: 6em;
  width: 6em;
  color: #ff7777;
  opacity: 0.04;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.div_back_icons {
  position: relative;
  transform: translateY(10vh);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .container {
    position: absolute;
    left: 0vw;
    max-width: 100vw;
    text-align: center;
  }
}
