.container {
  height: 35vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.dga {
  color: #d800a6;
  font-size: 10vh;
  margin-bottom: 0;
  font-weight: bolder;
  z-index: 3;
}

.dga_back {
  position: absolute;
  transform: translate3d(5px, 5px, 5px);
  color: #31e1f7;
  font-size: 10vh;
  margin-bottom: 0;
  font-weight: bolder;
  z-index: 2;
}

.fsd {
  color: white;
}

.nameLink {
  text-decoration: none;
  background-color: #0c0310;
}
