.container {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dga {
  color: #31e1f7;
  font-size: 350%;
  margin-bottom: 0;
  font-weight: bolder;
  z-index: 3;
}

.dga_back {
  position: absolute;
  transform: translate3d(5px, -30px, 1px);
  color: #d800a6;
  font-size: 350%;
  margin-bottom: 0;
  font-weight: bolder;
  z-index: 2;
}

.fsd {
  color: white;
  text-align: center;
}

.nameLink {
  text-decoration: none;
  background-color: #0c0310;
}
